.label {
    position: absolute;
    color: #ffffff;
    left: 50%;
    top: 50%;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.75);
    line-height: 24px;
    padding: 0 16px;
    border-radius: 3px;
    transform: translate(-10%, -50%);
}
