.label {
    position: absolute;
    color: #ffffff;
    left: 50%;
    top: 50%;
    font-size: 12px;
    background: var(--main-bg);
    line-height: 21px;
    padding: 0 8px;
    border-radius: 3px;
    transform: translate(-10%, -50%);
}
