#dashboard {
    min-height: 380px;
    margin: 0;
    position: relative;
}

#dashboard .col {
    margin: 0;
}

.map-holder {
    min-height: 380px;
}

#dashboard-countries .list-group {
    margin: 0;
}
