.search-wrapper {
    position: fixed;
    z-index: 10000000;
    background-color: rgba(46, 52, 64, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prefix-icon {
    position: absolute;
    left: 4px;
    top: 17px;
}

.search-component {
    position: relative;
    width: 90vw;
    max-width: 600px;
}

.search-component input {
    padding-left: 32px;
}

.search-component a {
    position: absolute;
    right: 4px;
    top: 12px;
    color: var(--nord3);
    outline: 0;
}

.search-results {
    position: absolute;
    z-index: 1001;
    color: var(--nord2);
    left: 1px;
    right: 1px;
    top: 52px;
}

.search-result-item {
    padding: 0 0 0 30px;
    line-height: 36px;
    cursor: default;
    color: var(--action);
}

.search-result-item-header {
    padding: 0;
    line-height: 32px;
    font-size: 14px;
    color: var(--nord3);
    text-transform: uppercase;
    font-weight: 500;
}
