.search-component {
    position: relative;
}

.search-results {
    position: absolute;
    z-index: 1001;
    background-color: #fff;
    color: var(--nord2);
    left: 1px;
    right: 1px;
    top: 52px;
    max-height: 200px;
    overflow-y: scroll;
}

.search-result-item {
    padding: 0 12px;
    line-height: 48px;
    border-bottom: 1px solid var(--nord4);
    cursor: default;
    color: var(--nord10);
}
