.shr {
}

.shr ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.shr ul li {
    display: inline-block;
    padding: 0 12px;
    color: var(--action);
    cursor: pointer;
}

.shr ul li svg {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.shr ul li:last-child {
    padding-right: 0;
}
