table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 12px 0;
    border-top: 1px solid var(--nord1);
    border-bottom: 1px solid var(--nord1);
}

.card-header small {
    color: var(--meta);
    text-align: right;
}

table td,
table th {
    padding: 5px;
    border-bottom: 1px solid var(--nord1);
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    border-right: 1px solid var(--nord1);
    vertical-align: top;
}

table th {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--nord13);
}

tbody tr th {
    text-align: right;
}

table tbody tr:nth-child(even) {
    background-color: var(--odd);
}

td small {
    color: var(--meta-light);
    display: block;
}

table.truncate tbody tr {
    display: none;
}
table.truncate tbody tr:nth-last-of-type(7),
table.truncate tbody tr:nth-last-of-type(7) ~ tr {
    display: table-row;
}

table ~ small,
.table-responsive ~ small {
    display: block;
    margin: 12px;
    text-align: right;
}

.card table {
    margin: 0;
}

.card table tr:last-child td {
    border-bottom: none;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.dimmed {
    color: var(--meta);
}

caption {
    font-size: 12px;
    width: 100%;
    padding: 10px;
}

caption span {
    display: inline-block;
    padding: 4px;
}
