:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: rgb(143, 188, 187);
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: rgb(94, 129, 172);
    --nord11: rgb(191, 97, 106);
    --nord12: rgb(208, 135, 112);
    --nord13: rgb(235, 203, 139);
    --nord14: rgb(163, 190, 140);
    --nord14-dark: #798c68;
    --nord15: #b48ead;

    --odd: #313644;

    --meta: #6b7383;
    --meta-light: #a2acc0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--nord0);
    color: var(--nord4);
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.header {
    background-color: var(--nord1);
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--nord3);
}
.header h2 {
    margin: 0;
    font-size: 18px;
}

.header a {
    color: var(--nord12);
}

.header h3 {
    margin: 0;
    color: var(--meta);
    font-size: 14px;
}

a {
    color: var(--nord9);
    text-decoration: none;
}

.chart {
    padding: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 12px 0;
}

.card-header small {
    color: var(--meta);
    text-align: right;
}

table td,
table th {
    text-align: right;
    padding: 8px;
    border-bottom: 1px solid var(--nord2);
    font-size: 14px;
}

table th {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--meta-light);
}

table tr td:first-child,
table tr th:first-child {
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: var(--odd);
}

table.truncate tbody tr {
    display: none;
}
table.truncate tbody tr:nth-last-of-type(10),
table.truncate tbody tr:nth-last-of-type(10) ~ tr {
    display: table-row;
}

table ~ small {
    display: block;
    text-align: right;
}

.toggle {
    list-style: none;
    padding: 0;
    text-align: right;
}

.toggle li {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
}

.toggle li a {
    color: var(--nord3);
}

.toggle li.active {
}

.toggle li.active a {
    color: var(--nord12);
}

.chart-line,
.bar-chart-elm {
    min-height: 320px;
    padding: 0;
}

.toggle.pull-right {
    position: absolute;
    right: 0;
    top: -2px;
    margin: 0;
}

@media screen and (min-width: 640px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 12px;
        margin-top: 20px;
    }

    .col-sm {
        max-width: 40%;
        padding: 0 6px;
    }

    .col:first-child {
        padding-left: 0;
    }

    .col:last-child,
    .col-sm:last-child {
        padding-right: 0;
    }

    .toggle.pull-right {
        top: 20px;
    }
}

.footer {
    text-align: center;
    opacity: 0.4;
    font-size: 12px;
}

.col {
    position: relative;
    margin-bottom: 20px;
}

.col:last-child {
    margin-bottom: 0;
}

select {
    line-height: 1.3em;
    font-size: 14px;
    box-sizing: border-box;
    color: var(--meta);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--nord12);
    padding: 6px 12px;
    margin-left: 12px;
}

.card {
    border: 1px solid var(--nord2);
    margin: 0 0 20px 0;
}

.card-header {
    background-color: var(--nord1);
    border-bottom: 1px solid var(--nord2);
    line-height: 48px;
    font-weight: 300;
    padding: 0 20px;
    font-size: 18px;
}

.card-body {
    padding: 20px;
    color: var(--nord4);
}

.card-footer {
    border-top: 1px solid var(--nord2);
    line-height: 32px;
    font-weight: 300;
    padding: 0 20px;
    font-size: 14px;
    text-align: right;
}

dl {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    align-items: baseline;
    justify-content: center;
}

dt {
    flex-basis: 40%;
    font-weight: 300;
    line-height: 48px;
    padding: 0 20px 0 0;
    text-align: right;
    color: var(--meta-light);
}

dd {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 48px;
    color: var(--nord6);
}

dd small {
    font-size: 14px;
    color: var(--meta);
    float: right;
}

.top-nav {
    list-style: none;
    margin: 12px 0;
    padding: 0;
}

.top-nav li {
    display: inline-block;
    padding: 0 20px;
    line-height: 32px;
}

input[type="text"] {
    width: 100%;
    margin: 0 0 12px 0;
    line-height: 24px;
    padding: 12px;
    font-size: 16px;
    border-radius: 2px;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border: 1px solid var(--nord3);
    color: var(--nord5);
}

.list-group li {
    border-bottom: 1px solid var(--nord3);
}

.list-group li:last-child {
    border-bottom: none;
}

.list-group li.item-text {
    line-height: 18px;
    padding: 12px;
    color: var(--nord3);
}

.list-group li.list-header {
    line-height: 18px;
    padding: 12px;
    text-transform: uppercase;
    color: var(--nord4);
}

.list-group li.list-header small {
    color: var(--meta);
    text-transform: none;
}

.list-group li a {
    display: block;
    line-height: 18px;
    padding: 12px;
}

.list-group li a small {
    color: var(--meta);
}

.toastify-center {
    max-width: 80%;
}

.toast-close {
    position: absolute;
    right: 12px;
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
}
ol li {
    counter-increment: item;
    margin-bottom: 5px;
    color: var(--nord4);
}
ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--nord12);
    color: var(--nord0);
    border-radius: 100%;
    font-size: 14px;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
}

.btn {
    display: inline-block;
    border: 1px solid var(--nord12);
    color: var(--nord12);
    line-height: 42px;
    padding: 0 18px;
}

.btn.btn-block {
    display: block;
    text-align: center;
}

.btn svg {
    position: relative;
    top: 2px;
}

.list-data {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid var(--nord1);
}

.list-data li {
    border-bottom: 1px solid var(--nord1);
    padding: 6px 12px;
}

.list-data li.list-header {
    text-transform: uppercase;
    font-size: 16px;
    background: var(--nord1);
}

.list-data li:last-child {
    border-bottom: none;
}

.card table {
    margin: 0;
}

.card table td {
    text-align: left;
}

.card table tr:last-child th,
.card table tr:last-child td {
    border-bottom: none;
}

.card .card {
    margin: 0;
}

.geo-wrapper {
    position: relative;
}

.loading-overlay {
    position: absolute;
    background-color: rgba(59, 66, 82, 0.75);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.loading-overlay span {
    display: inline-block;
    padding: 0 18px;
    line-height: 32px;
    border-radius: 2px;
    background-color: var(--nord11);
    color: var(--nord6);
    font-size: 12px;
}

.flag {
    align-self: baseline;
    height: 18px;
    width: auto;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    top: 3px;
}
