:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: rgb(208, 135, 112);
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--nord0);
    color: var(--nord4);
    font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2 {
    text-align: center;
    margin-top: 0;
}

a {
    color: var(--nord9);
    text-decoration: none;
}

.chart {
    padding: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

table td,
table th {
    text-align: right;
    padding: 8px;
    border-bottom: 1px solid var(--nord2);
    font-size: 14px;
}

table th {
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--nord14);
}



table tr td:first-child,
table tr th:first-child {
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: var(--nord1);
}

table tbody tr {
    display: none;
}
table tbody tr:nth-last-of-type(10),
table tbody tr:nth-last-of-type(10) ~ tr {
    display:table-row;
}

.toggle {
    list-style: none;
    padding: 0;
    text-align: right;
}

.toggle li {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
}

.toggle li a {
    color: var(--nord3);
}

.toggle li.active {

}

.toggle li.active a {
    color: var(--nord12)
}

.chart-line {
    min-height: 320px;
    padding: 0;
}

@media screen and (min-width: 640px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 6px;
    }

    .col-sm {
        max-width: 40%;
        padding: 0 6px;
    }

    .col:first-child {
        padding-left: 0;
    }

    .col:last-child, .col-sm:last-child {
        padding-right: 0;
    }
}

.footer {
    text-align: center;
    opacity: .4;
}
