:root {
    --nord0: rgb(46, 52, 64);
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: rgb(143, 188, 187);
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: rgb(94, 129, 172);
    --nord11: rgb(191, 97, 106);
    --nord12: rgb(208, 135, 112);
    --nord13: rgb(235, 203, 139);
    --nord14: rgb(163, 190, 140);
    --nord14-dark: #798c68;
    --nord15: rgb(180, 142, 173);

    --odd: #212e3d;

    --meta: #6b7383;
    --meta-light: #a2acc0;
    --meta-dark: #5d6370;

    /* Accent */
    --accent: #2d7aad;
    --accent1: #50a8e2;
    --accent2: #4eb9e4;
    --accent3: #83d3f3;

    --blue: rgb(45, 122, 173);
    --red: rgb(221, 87, 101);
    --orange: rgb(233, 153, 88);
    --yellow: rgb(235, 225, 139);
    --brown: rgb(156, 152, 120);
    --green: rgb(156, 194, 122);
    --purple: rgb(175, 122, 165);

    --white: #f2f5fa;

    --action: #52d8b9;
    --action-light: #abded2;

    --main-bg: #253344;
    --elevated-bg: #2c3d51;
    --elevated-border: #354a62;
    --transparent-bg: rgba(34, 53, 71, 0.95);
    --shadow-color: rgba(0, 0, 0, 0.3);

    --change: #9fc3cb;
}

::-moz-selection,
::selection {
    background: var(--action-light);
    color: var(--nord0);
}

* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--main-bg);
    color: var(--nord4);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--accent);
    z-index: 10000;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid var(--accent);
    h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        span {
            opacity: .45;
        }
    }
    h3 {
        margin: 0;
        color: var(--nord4);
        font-size: 14px;
    }
    a {
        color: var(--nord4);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            color: var(--action-light);
        }
    }

}

a {
    color: var(--accent1);
    text-decoration: none;
}

.chart {
    padding: 68px 12px;
    max-width: 1280px;
    margin: 0 auto;
}

.toggle.pull-left {
    float: left;
}

.toggle {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 20px 0;
    .card-body > &:first-child {
        margin-top: 0;
    }
    li {
        display: inline-block;
        font-size: 12px;
        a {
            color: var(--meta);
            display: inline-block;
            padding: 0 12px;
            line-height: 26px;
            transition: color .85s;
        }
        &.active {
            a {
                border-radius: 2px;
                border: 1px solid var(--action);
                color: var(--action);
            }
        }
    }
}

.chart-line,
.bar-chart-elm {
    min-height: 320px;
    padding: 0;
}

.bar-report-wrapper,
.report-view {
    min-height: 280px;
    padding: 0;
}

.toggle.pull-right {
    position: absolute;
    right: 0;
    top: -2px;
    margin: 0;
}

.col {
    position: relative;
    margin-bottom: 20px;
}

.col:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
    .cards {
        display: flex;
    }

    .cards .card {
        flex-basis: 0;
        flex-grow: 1;
        margin-left: 6px;
    }

    .cards .card:first-child {
        margin-left: 0;
    }
}

.row-xs {
    display: flex;
    flex-wrap: wrap;
}

.col-xs {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 6px;
}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 12px;
    }

    .col-sm {
        max-width: 40%;
        padding: 0 6px;
    }

    .col:first-child {
        padding-left: 0;
    }

    .col:last-child,
    .col-sm:last-child {
        padding-right: 0;
    }

    .toggle.pull-right {
        top: 20px;
    }

    .col-2 {
        flex-basis: 66.66666666%;
    }
    .col-1 {
        flex-basis: 33.33333333%;
    }

    .col:last-child {
        margin-bottom: 20px;
    }
}

.footer {
    text-align: center;
    opacity: 0.4;
    font-size: 12px;
}

select {
    line-height: 1.3em;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
}

.card {
    border: 1px solid var(--elevated-border);
    margin: 0 0 6px 0;
    background: #283749;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    .card-body {
        flex-grow: 1;
    }
}

.card-header {
    position: relative;
    background-color: var(--elevated-bg);
    border-bottom: 1px solid var(--elevated-border);
    line-height: 42px;
    font-size: 16px;
    padding: 0 12px;
}

.card-header small {
    font-weight: 400;
    font-size: 14px;
    &.meta {
        float: right;
        font-size: 12px;
    }
}

.card-header select {
    margin-left: 12px;
    width: auto;
    float: right;
    position: relative;
    top: 10px;
}

.card-body {
    padding: 12px;
    color: var(--nord4);
}

.card-footer {
    border-top: 1px solid var(--nord2);
    line-height: 32px;
    font-weight: 300;
    padding: 0 20px;
    font-size: 14px;
    text-align: right;
    a {
        outline: 0;
    }
}

dl {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    align-items: baseline;
    justify-content: center;
}

dt {
    flex-basis: 45%;
    line-height: 48px;
    padding: 0 20px 0 0;
    text-align: right;
    color: var(--meta-light);
}

dl.small-dl {
    dt {
        flex-basis: 35%;
        line-height: 24px;
        font-size: 14px;
    }
    dd {
        flex-basis: 65%;
        font-size: 16px;
    }
}

dd {
    flex-basis: 55%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    color: var(--nord6);
}

dd small {
    font-size: 14px;
    color: var(--meta);
    float: right;
}

.top-nav {
    list-style: none;
    margin: 12px 0;
    padding: 0;
}

.top-nav li {
    display: inline-block;
    padding: 0 20px;
    line-height: 32px;
}

input[type="text"] {
    width: 100%;
    margin: 0 0 12px 0;
    line-height: 24px;
    padding: 12px 4px;
    font-size: 16px;
    border-radius: 2px;
    background-color: transparent;
    color: var(--nord4);
    border: none;
    border-bottom: 1px solid var(--nord4);
}

.list-group {
    list-style: none;
    padding: 0;
    border: 1px solid var(--nord3);
    color: var(--nord5);
}

.list-group li {
    position: relative;
    border-bottom: 1px solid var(--nord3);
}

.list-group li:last-child {
    border-bottom: none;
}

.list-group li.item-text {
    line-height: 18px;
    padding: 12px;
    color: var(--nord3);
}
.list-group.compact li.list-header,
.list-group.compact li a {
    font-size: 13px;
    line-height: 14px;
    padding: 6px 12px;
}

.list-group li.list-header {
    line-height: 18px;
    padding: 12px;
    text-transform: uppercase;
    color: var(--nord4);
}

.card-header .action {
    float: right;
    color: #50a8e2;
}

.list-group li.list-header small {
    color: var(--meta);
    text-transform: none;
}

.list-group li a {
    display: block;
    line-height: 18px;
    padding: 12px;
}

.list-group li a small {
    color: var(--meta);
}

.toastify-center {
    max-width: 80%;
}

.toast-close {
    position: absolute;
    right: 12px;
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
}
ol li {
    counter-increment: item;
    margin-bottom: 5px;
    color: var(--nord4);
}
ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--orange);
    color: var(--nord0);
    border-radius: 100%;
    font-size: 14px;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
}

.btn {
    display: inline-block;
    border: 1px solid var(--action);
    color: var(--action);
    line-height: 42px;
    padding: 0 18px;
}

.btn.btn-sm {
    line-height: 28px;
    font-size: 13px;
}

.btn.btn-block {
    display: block;
    text-align: center;
}

.btn svg {
    position: relative;
    top: 2px;
}

.download {
    font-size: 14px;
    color: var(--action);
}

.list-data {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 1px solid var(--nord1);
}

.list-data li {
    border-bottom: 1px solid var(--nord1);
    padding: 6px 12px;
}

.list-data li.list-header {
    text-transform: uppercase;
    font-size: 16px;
    background: var(--nord1);
}

.list-data li:last-child {
    border-bottom: none;
}

.card .card {
    margin: 0;
}

.geo-wrapper {
    position: relative;
}

.loading-overlay {
    position: absolute;
    background-color: rgba(59, 66, 82, 0.75);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.loading-overlay span {
    display: inline-block;
    padding: 0 18px;
    line-height: 32px;
    border-radius: 2px;
    background-color: var(--nord11);
    color: var(--nord6);
    font-size: 12px;
}

.flag {
    align-self: baseline;
    height: 18px;
    width: auto;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center !important;
}

.confirmed {
    color: var(--nord10);
}

.deaths {
    color: var(--nord11);
}
.recovered {
    color: var(--nord14);
}

.active {
    color: var(--purple);
}

.muted {
    color: var(--meta-light);
}

#toaster-wrapper {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
}

.toast {
    margin: 10px auto;
    width: 250px;
    background: var(--accent);
    color: var(--white);
    font-size: 14px;
    padding: 8px;
    opacity: .9;
    transition: opacity 1s;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 0 1.5em var(--shadow-color);
}

.toast.hide {
    opacity: 0;
}

.label {
    font-size: 12px;
    color: var(--nord4);
    display: inline-block;
    padding: 0 6px;
    background: var(--nord11);
    line-height: 18px;
    border-radius: 3px;
}

.announce {
    background-color: var(--nord13);
    color: var(--nord1);
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    padding: 10px 0;
}

.announce a {
    color: var(--accent);
}

td.important-column {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 12px 0;
    border-top: 1px solid var(--elevated-border);
    border-bottom: 1px solid var(--elevated-border);
}

.card-header small {
    color: var(--meta);
    text-align: right;
}

table td,
table th {
    padding: 6px 12px;
    border-bottom: 1px solid var(--elevated-border);
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
    border-right: 1px solid var(--elevated-border);
    vertical-align: top;
}

table th {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--meta-light);
}

tbody tr th {
    text-align: right;
}

table tbody tr:nth-child(even) {
    background-color: var(--odd);
}

td small {
    color: var(--meta-light);
    display: block;
}

table.truncate tbody tr {
    display: none;
}
table.truncate tbody tr:nth-last-of-type(7),
table.truncate tbody tr:nth-last-of-type(7) ~ tr {
    display: table-row;
}

table ~ small,
.table-responsive ~ small {
    display: block;
    margin: 12px;
    text-align: right;
}

.card table {
    margin: 0;
}

.card table tr:last-child td {
    border-bottom: none;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.dimmed {
    color: var(--meta);
}

caption {
    font-size: 12px;
    width: 100%;
    padding: 10px;
}

caption span {
    display: inline-block;
    padding: 4px;
}

tfoot td,
tfoot th {
    border-top: 1px solid var(--elevated-border);
    text-align: right;
    font-size: 18px;
}

.focus {
    color: var(--yellow);
    border-bottom: 1px dotted var(--meta);
}

.actions {
    list-style: none;
    margin: 12px 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.actions li {
    flex: 1 0 80px;
    text-align: center;
    font-size: 12px;
    small {
        color: var(--nord3);
        line-height: 12px;
        font-size: 12px;
        &.selected {
            color: var(--action-light);
        }
    }
}

.actions li a {
    color: var(--meta);
    outline: 0;
    transition: color 0.85s;

}

.actions li a svg {
    position: relative;
    top: 2px;
}

.actions li a.selected {
    color: var(--action);
}

.actions li a.selected.confirmed {
    color: #66D9EF;
}

.actions li a.selected.recovered {
    color: #A6E22E;
}

.actions li a.selected.deaths {
    color: #F92672;
}

.actions li a.selected.active {
    color: #E6DB74;
}

.disabled-action {
    opacity: 0.15;
    pointer-events: none;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--elevated-border);
    margin: 20px 0;
}

.meta-info {
    margin-bottom: 20px;
}

.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 18px;

    background: var(--elevated-bg);
    color: var(--nord4);
    border-top: 1px solid var(--elevated-border);

    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        text-align: center;
        color: var(--action);
    }

    a {
        color: var(--action);
    }

    div span {
        display: block;
        line-height: 12px;
        font-size: 12px;
        color: var(--action-light);
    }
}

.horizontal-bars .card-body {
    height: 420px;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        line-height: 28px;
        font-size: 15px;
        border-color: var(--action-light);
        color: var(--action-light);
        & ~ .btn {
            border-left: none;
        }
    }
}

.saved-items-toolbox {
    width: 95vw;
    position: fixed;
    bottom: 78px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 480px;
    font-size: 15px;
    .card {
        box-shadow: 0 0 2.5em var(--shadow-color);
    }
}

.message {
    margin: 6px 0 12px 0;
    padding: 20px;
    font-size: 16px;
    border: 1px solid var(--elevated-border);
    background-color: mix(#2c3d51, #52d8b9, 96%);
    color: var(--meta-light);
    h3 {
        color: var(--nord4);
    }
}


.leaflet-container {
    min-height: 410px;
    z-index: 1000000;
}
