:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: rgb(208, 135, 112);
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --meta: #6b7383;
    --meta-light: #a2acc0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--nord0);
    color: var(--nord4);
    font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2 {
    text-align: center;
    margin-top: 0;
}

a {
    color: var(--nord9);
    text-decoration: none;
}

.chart {
    padding: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 12px 0;
}

small {
    color: var(--meta);
    text-align: right;
}

table td,
table th {
    text-align: right;
    padding: 8px;
    border-bottom: 1px solid var(--nord2);
    font-size: 14px;
}

table th {
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--meta-light);
}

table tr td:first-child,
table tr th:first-child {
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: var(--nord1);
}

table.truncate tbody tr {
    display: none;
}
table.truncate tbody tr:nth-last-of-type(10),
table.truncate tbody tr:nth-last-of-type(10) ~ tr {
    display: table-row;
}

table ~ small {
    display: block;
    text-align: right;
}

.toggle {
    list-style: none;
    padding: 0;
    text-align: right;
}

.toggle li {
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
}

.toggle li a {
    color: var(--nord3);
}

.toggle li.active {
}

.toggle li.active a {
    color: var(--nord12);
}

.chart-line,
.bar-chart-elm {
    min-height: 320px;
    padding: 0;
}

.toggle.pull-right {
    position: absolute;
    right: 0;
    top: -2px;
    margin: 0;
}

@media screen and (min-width: 640px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 12px;
        margin-top: 20px;
    }

    .col-sm {
        max-width: 40%;
        padding: 0 6px;
    }

    .col:first-child {
        padding-left: 0;
    }

    .col:last-child,
    .col-sm:last-child {
        padding-right: 0;
    }

    .toggle.pull-right {
        top: 20px;
    }
}

.footer {
    text-align: center;
    opacity: 0.4;
    font-size: 12px;
}

.col {
    position: relative;
}

select {
    width: 100%;
    line-height: 1.3em;
    font-size: 16px;
    padding: 0.6em 1.4em 0.5em 0.8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff 0%, var(--nord4) 100%);
}

.card {
    border: 1px solid var(--nord2);
}

.card-header {
    background-color: var(--nord1);
    border-bottom: 1px solid var(--nord2);
    line-height: 48px;
    font-weight: 300;
    padding: 0 20px;
    font-size: 21px;
    text-transform: uppercase;
}

.card-body {
    padding: 20px;
}

dl {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    align-items: baseline;
    justify-content: center;
}

dt {
    flex-basis: 40%;
    font-weight: 300;
    line-height: 54px;
    padding: 0 20px 0 0;
    text-align: right;
    color: var(--nord4);
}

dd {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 54px;
    color: var(--nord6);
}

dd small {
    font-size: 12px;
    color: var(--meta);
    float: right;
}

.top-nav {
    list-style: none;
    margin: 12px 0;
    padding: 0;
}

.top-nav li {
    display: inline-block;
    padding: 0 20px;
    line-height: 32px;
}

input[type="text"] {
    width: 100%;
    margin: 0 0 12px 0;
    line-height: 32px;
    padding: 12px;
    font-size: 16px;
    border-radius: 2px;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border: 1px solid var(--nord3);
    color: var(--nord5);
}

.list-group li {
    border-bottom: 1px solid var(--nord3);
}

.list-group li:last-child {
    border-bottom: none;
}

.list-group li a {
    display: block;
    line-height: 42px;
    padding: 0 12px;
}
